@import '../../../../styles/shared.scss';

.disableButton {
    color: $C2-color;
    background-color: $C4-color;
    height: $baseHeight;
    width: 232px;
}

.disableButton-normal {
    @extend .disableButton;
    font-size: $T1;
    border: 0;
    height: 28px;
    width: 64px;
    border-radius: 16px;
}