@use "sass:math";
@import 'src/styles/shared.scss';

@mixin circleInfo {
    width: 132px;
    height: 132px;
    text-align: center;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 0;

    .farm-circleInfo-value {
        font-size: $T1;
        font-family: $boldFont;
    }

    p + p {
        font-size: $T4;
    }
}

.farm {

    &-circleInfo {
        margin: 0 auto;
        margin-top: 44px;
        display: flex;
        justify-content: center;

        div + div {
            margin-left: 40px;
        }

        &-one {
            @include circleInfo;
            background: linear-gradient(135deg, #DC706A 0%, #DD8751 100%);
            box-shadow: 0px 0px 10px #E5E5E5;
        }

        &-two {
            @include circleInfo;
            background: linear-gradient(135deg, #85D6F7 0%, #56BFF4 100%);
            box-shadow: 0px 0px 10px #E5E5E5;
        }

        &-three {
            @include circleInfo;
            background: linear-gradient(135deg, #98CF71 0%, #63C8A7 100%);
            box-shadow: 0px 0px 10px #E5E5E5;
        }

        &-four {
            @include circleInfo;
            background: linear-gradient(135deg, #E4CB58 0%, #E8BB58 100%);
            box-shadow: 0px 0px 10px #E5E5E5;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 40px;

        li {
            margin: 0 22px;
            margin-top: 44px;
        }
    }
}