@use "sass:math";
@import 'src/styles/shared.scss';

.leverReview {

    &-mainCard {
        width: $baseWidth;
        margin: 22px auto;
        padding: 40px 44px;

        &-top {
            display: flex;
            justify-content: space-between;

            div {
                width: 20px;
                height: 20px;
            }
        }

        div + .reviewInfo {
            margin-top: 30px;
        }

        .reviewInfo + .reviewInfo {
            margin-top: 20px;
        }
    }
}